ul {
   width: 90%;
   margin: 2em 0;
   justify-self: center;
   list-style: none;
   padding: 0;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   column-gap: 2em;
   row-gap: 2em;
}

li {
   height: 15em;
   padding: 1em;
   align-self: center;
   border: solid;
   border-radius: 0 3em;
   font-size: 1.2em;
}

#prayer-form {
   width: 70%;
   display: grid;
   grid-template-rows: 5fr 1fr;
}