body {
   height: 100vh;
   width: 100vw;
   margin: 0;
   display: grid;
   background-color: lightslategray;
}

header {
   width: 90%;
   font-family: "Spectral", system-ui, sans-serif;
   justify-self: center;
   display: grid;
   grid-template-columns: 1fr 5fr 1fr;
   background-color: #E6E4D8;
   border: solid darkslateblue;
   border-radius: 2em;
}

.error {
   font-weight: bold;
   color: aqua;
}

#logo {
   display: grid;
   align-items: center;
   justify-content: center;
   font-size: 1.25em;
}